{% extends "fourth_task/menu.html" %}

{% block name %}{{text}}{% endblock %}

{% block pagename %}
<h1>{{text}}</h1>
{% endblock %}

{% block content %}
    <ul style="list-style-type: disc; padding-left: 20px;">
        {% for case in cases_list.case %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
                <p style="margin-right: 10px;">{{ case }}</p>
                <button>Купить</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}