<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body bgcolor="#87cefa">
    <h1>{{ text }}</h1>
    <ul>
        <li>Pitaka for 15 Pro Max <button>Купить</button></li>
        <li>Uniq for 15 Pro Max <button>Купить</button></li>
        <li>Leather case for 15 Pro Max <button>Купить</button></li>
    </ul>
    <!-- Используем ссылку как кнопку -->
    <a href="/platform">
        <button>Вернуться обратно</button>
    </a>
</body>
</html>
